@media (min-width: 601px) and (max-width:1600px){
.connection{
    display:flex;
}
.promo{
    background-color:#ffffff;
}
.connection-img{
     justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 40PX 20PX ;
    background-color:white;
    width: 300px;
}
.connections{
    display: flex;
    padding-left: 2rem;
}
.myconnection{
    padding-right: 3rem;
    color: blue;
}
}
@media (min-width: 200px) and (max-width:600px){
 .connection{
    display:block;
}  
.myconnection{
    padding-right: 1rem;
    color: blue;
} 
}