@media (min-width: 601px) and (max-width:1600px){
.joinus{
    background-color: #ffffff;
}
.joinus-content{
    display: flex;
}
.customer{
      justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 40PX 20PX ;
    background-color:white;
    width: 300px;
}
.supplier{
  justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 40PX 20PX ;
    background-color:white;
    width: 300px;  
}
.career{
       justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 40PX 20PX ;
    background-color:white;
    width: 300px;
    text-align: center;
}
.tittle{
    color:green;
    text-align: center;
}
.buttons{
    background-color:green ;
    border-radius: 50px;
    color: #ffffff;
    width: 200px;
    font-size: larger;
   margin-left: 3rem;
   margin-bottom: 2rem;
}
.career-details{
text-align: center;
padding-left: 1rem;
padding-right: 1rem;
font-size:small;
font-weight: bold;
width: 290px;
}
}
@media (min-width: 200px) and (max-width:600px){
    .joinus-content{
    display: block;
}
.customer{
      justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 40PX 20PX ;
    background-color:white;
    width: 300px;
}
.supplier{
  justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 40PX 20PX ;
    background-color:white;
    width: 300px;  
}
.career{
       justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 40PX 20PX ;
    background-color:white;
    width: 300px;
    text-align: center;
}
}
