.mpesa{
background-color: #f4f4f6;
}
.m-pesa{
    display:flex;
}
.mpesa-img{
      justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    margin: 40PX 20PX ;
    background-color:white;
    width: 300px;
}
.withdraw-button{
    border-radius: 50px;
    width: 200px;
    height: 30px;
    margin-bottom: 3px;
}
.mpesa-button{
    border-radius: 50px;
    background-color: green;
    margin-bottom: 2rem;
}