@media (min-width: 601px) and (max-width:1600px){
.navbar{
    margin-top: 0;
    position: fixed;
    z-index: 3;
    width: 100%;
    align-items: center;
    height: 2rem;
    display: flex;
    color: white;
    justify-content: space-around;
    background-color: green;
}
.navbarr{
    margin-top: 30px;
    background-color: white;
     position: fixed;
    width: 100%;
    align-items: center;
    height: 3rem;
    display: flex;
    z-index: 3;
 
    justify-content: space-around;
}
.logo{
    height: 40px;
    width: 100px;
}
.button1{
    border-radius: 70px;
    background-color: #ffffff;
}
.button2{
    border-radius: 70px;
    background-color: black;
    color: white;
}
}
@media (min-width: 200px) and (max-width:600px){
  .navbar{
    margin-top: 0;
    position: fixed;
    z-index: 3;
    font-size:7.7px;
    align-items: center;
    height: 2rem;
    display: flex;
    color: white;
    justify-content: space-between;
    background-color: green;
}
.navbarr{
    margin-top: 30px;
    background-color: white;
     position: fixed;
    width: 100%;
    align-items: center;
    height: 3rem;
    display: flex;
    z-index: 3;
 font-size: xx-small;
    justify-content: space-around;
}  
.logo{
    height: 20px;
    width: 50px;
}
.button1{
    border-radius: 30px;
    background-color: #ffffff;
    font-size: 5.3px;
}
.button2{
    border-radius: 30px;
    background-color: black;
    color: white;
      font-size:9px;
}
}